:root{
    --bound: 70px;
}

.box01{
    justify-content: center;
    color: rgb(80, 12, 16);
}

.box01 a {
    color: #2a403d;
    text-decoration: none;
}
.box01 p{
    font-weight: bold;
}
#box{
    width: var(--bound);
    height: var(--bound);
    display: none;
    position: relative;
}
