:root{
    --mouse-x;
    --mouse-y;
    --radius:40px;
    --factor:1;
    --scale;
}

body{
    background-color: rgba(255,94,100);
}

#ball{
    width: var(--radius);
    height: var(--radius);
    border-radius: 50%;
    background-color: rgb(251, 212, 91);
    position: absolute;
    transform: translate(calc(var(--mouse-x) * 1px - var(--radius) / 2), 
    calc(var(--mouse-y) * 1px - var(--radius) / 2));
}

.halo{
    width: var(--radius);
    height: var(--radius);
    border-radius: 50%;
    opacity: 0.15;
    background-color: rgb(155, 171, 132);
    position: absolute;
    transform: scale(calc(var(--factor) * var(--scale)));
}

.halo:nth-of-type(1) {
    --factor: 0.3;
}
.halo:nth-of-type(2) {
    --factor: 0.5;
}
.halo:nth-of-type(3) {
    --factor: 0.9;
}
.box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10% 8%;
}
.btn{
    width: 200px;
    height: 100px;
    background-color:rgb(227, 186, 188);
    font-size: 30px;
    font-weight: bolder;
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
    color:	rgb(80, 12, 16);
    border-radius:20px;
    cursor:pointer;
    margin: 20px;
}
.btn:hover{
  color:rgb(227, 186, 188);
  background-color:	rgb(80, 12, 16);
  border:2px rgb(227, 186, 188) solid;
}

@media (max-width:768px) {
    .box{
        display: block; 
        margin:10% 14% ;
        justify-content: center;
        align-items: center;
    }
    #ball{
        display: none;
    }
}

@media (max-width:767px) {
    .box{
        display: block; 
        margin:30% 18% ;
        justify-content: center;
        align-items: center;
    }
    #ball{
        display: none;
    }
}
